{% extends 'portfolio/base.html' %}
<body>
{% block content %}

<div  class="container text-center">
<h1 style="color:black;">About Password Generator</h1>
<p class="text-center">On a cold winter night, while on vacation and under a Winter Storm Advisory I spent a few hours making this.<br>
This is the part of coding that I never seem to get past. Tutorial Hell. It is fun though. So generate some passwords.<br>
    <strong>All generated passwords are available to use at your own risk.</strong></p>
    <a href="{% url 'portfolio_home' %}" class="btn btn-primary">Home</a>
</div>


{% endblock %}
</body>
</html>