<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'portfolio/base.html' %}
    <meta charset="UTF-8">
    <title>VT_lookup</title>
</head>
<body>
{% block content %}

<div class="container text-right">
    <div class="row center">
            <form method="post" enctype="multipart/form-data" class="form-horizontal" role="form" align="center">
            {% csrf_token %}
            <div class="form-group row">
                <label for="fileupload">Select File</label>
            </div>
                <br>
                <div class="col-xs-2">
                    <input type="file" class="form-control-file" id="fileupload" name="to_check">
                </div>
                <br>
                <br>
        <button type="submit" class="btn btn-primary">Upload</button>
                {{ error }}
        </form>
    </div>
</div>
{% endblock %}
</body>
</html>