
{% extends 'portfolio/base.html' %}




{% block content %}
<h1 class="text-center mt-5" id="blogdetailtitle">{{ blog.blog_title }}</h1>

<h5 class="text-center text-muted mb-5">{{ blog.blog_date|date:'F jS Y' }}</h5>

<div class="container text-center">
<div class="blog_post text-center" style="max-width: 1000px; margin-left: auto; margin-right: auto; padding: 24px;">



<h5 style="line-height: 1.6;">{{ blog.blog_post|linebreaksbr }}</h5>
    </div>
    </div>
<div class="text-center">
    {% if user.is_superuser %}
    <a href="{% url 'blog:editpost' 10  %}" class="btn btn-primary btn-lg" role="button">Edit</a>
    {% endif %}
</div>
{% endblock %}