html {
    height: 100%;
}
body {
margin: 0;
font-family: 'Nova Flat', cursive;
color: white;
background-repeat: no-repeat;
background-attachment: fixed;
background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#blogtitle {
    font-size: 6rem;
}

div.blog_post {
    background-color:white;
}


@media (min-width: 992px) {
    #hometext {
        font-size: 3rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}