html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0px;
    font-family: 'Nova Flat', cursive;
    color: white;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(102,102,190,1) 35%, rgba(0,212,255,1) 100%);
}

}

#blogtitle {
    font-size: 6rem;
}


@media (min-width: 992px) {
    #hometext {
        font-size: 3rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}